.outlet {
  background: white;
}

.peliculas {
  background-color: grey;
}

figure.nombre-item-row {
  margin-bottom: 0;
}

.nombre-item-row img {
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 100vh;
  margin-right: 0.5em;
}

.tabla-contenido {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.contenedor-tabla {
  height: 450px;
  width: 100%;
  margin-top: 20px;
}

.contenedor-tabla .dataGrid {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.agregar-item {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: var(--clr-morado1);
  padding: 0.5em 1em;
  margin-left: 1em;
  color: #fff;
  width: 50%;
  margin: 1em auto;
}

.agregar-item-lista {
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background: var(--clr-gris);
  padding: 0.5em 1em;
  margin-left: 1em;
  color: #fff;
}

.agregar-contenido {
  margin-bottom: 1em;
}

.acciones .fa-user-edit,
.acciones .fa-trash-alt {
  font-size: 1.5em;
  margin: 0 0.5em;
  cursor: pointer;
  opacity: 0.5;
}

.acciones .fa-user-edit {
  color: var(--clr-morado1);
}

.acciones .fa-trash-alt {
  color: #ff0000;
}

.acciones .fas:hover {
  opacity: 1;
}

/* MODAL */
.modal {
  color: #000;
  z-index: 99999999;
}

.mensaje-error {
  color: red;
  font-size: 10px;
}

/* INFO ADICIONAL INPUT */
.item-duracion {
  display: flex;
  align-items: center;
}

.item-duracion .info {
  background-color: rgb(223, 222, 222);
  border: 0.5px solid rgb(219, 219, 219);
  color: #fff;
  font-size: 0.7em;
  height: 1.5em;
  width: 1.5em;
  border-radius: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  cursor: pointer;
  position: relative;
}

.item-duracion .info.trailer{
  background-color: #ff0000;
}
.item-duracion .info.duracion::after {
  font-size: 1.2em;
  padding: 0.5em;
  content: "Películas: duración en minutos. Series: cantidad de episodios. ";
  width: 10em;
  background-color: rgb(175, 175, 175);
  position: absolute;
  left: 120%;
  top: -600%;
  border-radius: 1em 1em 1em 0;
  clip-path: circle(0% at 0% 100%);
  transition: all ease 1s;
}

.item-input .tipo{
  margin-bottom: 0;
  font-size: 0.8em;
}

.item-duracion .info.trailer::after{
  font-size: 1.2em;
  padding: 0.5em;
  content: 'Si el enlace no es "embebido", no se mostrara el video. Para mas información, usá Google.';
  width: 15em;
  background-color: rgb(175, 175, 175);
  position: absolute;
  left: 120%;
  top: -600%;
  border-radius: 1em 1em 1em 0;
  clip-path: circle(0% at 0% 100%);
  transition: all ease 1s;
}

.item-duracion .info:hover::after {
  clip-path: circle(100% at 50% 50%);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}


