.titulo-configuracion{
  font-size: 3em;
  margin-left: 1em;
  margin-top: 1em;
  font-weight: 700;
}


.mis-datos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 2em;
  flex-wrap: wrap;
  gap: 4em;
}

.avatar img {
  border-radius: 100vh;
  height: 20em;
  width: 20em;
  object-fit: cover;
}
.datos-cuenta{
  display: grid;
  grid-template-columns: 1fr 1fr ;  
  gap: 3em;
}

.item-info-cuenta .info-titulo {
  font-size: 2em;
  opacity: 0.8;
  font-weight: 700;
}

.item-info-cuenta .info {
  font-size: 1.5em;
}

.edit-perfil{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: grey;
  background-color: #383838;
  padding: 0.2em 1em;
  margin-left: 2.5em;
  border-radius: 0.5em;
  font-size: 1.2em;
  width: max-content;
}

.edit-perfil:hover{
  color: #f0f8ff;
}

.edit-perfil p{
  margin-right: 0.5em;
  margin-bottom: 0;
}

@media (max-width:1050px) { 
  .datos-cuenta{
    flex-direction: column;
    gap: 1em;
    text-align: center;
  }

  .datos-cuenta .info-titulo{
    margin-bottom: 0;
  }
}

@media (max-width:845px) {
  .datos-cuenta{
    grid-template-columns: 1fr 1fr ;  
    text-align: left;
  }
}

@media (max-width:620px) {
  .datos-cuenta{
    grid-template-columns: 1fr;  
    text-align: left;
  }
}
