* {
  text-decoration: none;
}

a:focus,
a:hover{
 color: var(--clr-morado1);
}

.barra {
  color: aliceblue;
  z-index: 10000;
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(20, 20, 20);
}

.contenedor-barra {
  padding: 5px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
}

.barra-izquierda,
.barra-derecha {
  display: flex;
  align-items: center;
}

.barra-izquierda .link {
  margin: 0 20px;
}
.barra-izquierda .link.desktop{
  display: none;
}

.contenedor-barra img {
  height: 30px;
  margin-right: 20px;
}

.barra-derecha {
  position: relative;
}

.barra-derecha  .fas {
  margin: 0 20px;
  cursor: pointer;
}

.barra-derecha .perfil .opciones {
  display: none;
  background: rgba(20, 20, 20);
  position: relative;
  position: absolute;
  right: 0;
  top: 80%;
}

.barra-derecha .perfil:hover .opciones {
  display: flex;
  flex-direction: column;
}

.barra-derecha .perfil .opciones .link {
  padding: 10px 15px;
  cursor: pointer;
}

.menu-icon{
  display: none;
}

.contenedor-barra .active{
  font-weight: bolder;
  color: var(--clr-morado1);

}

.search-bar form{
  position: relative;
}

.search-bar form input[type="search"]{
  padding-left: 50px;
}

.fa-search{
  position: absolute;
  top: calc(50% - 25%);
  margin: 0 0px;
  z-index: 100;
  color: #000;
  cursor:inherit;
}

.searchBar{
  position: relative;
}

.dataResultado{
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0.2em;  
}


.dataResultado .busqueda{
  background-color: #fff;
  cursor: pointer;
  transition: all ease;
  padding: 0.5em;
  display: block;
  text-decoration: none;
  width: 208px;
}
.dataResultado a{
  color: #000;
}

.dataResultado a:hover{
  background-color: rgb(228, 228, 228);
}

.categorias{
  position: absolute;
  top: 20%;
}

@media screen and (max-width: 860px) {
  .menu-icon{
    display: block;
    cursor: pointer;
  }

  .barra-izquierda,
  .barra-derecha{
    display: none;
  } 

  .barra-izquierda-mobile{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    transition: all 0.5s ease;
    top: 60px;
    left: 0;
    background-color:rgba(20, 20, 20) ;
    padding: 10px 20px;
  }
  
  .barra-izquierda-mobile .link{
    margin-left: 20px;
    padding: 10px;
  }
}